.heading
{
    width: 100%;
    text-align: left;
}
.heading h3
{
    display: inline;
}
.heading button
{
    float: right;
    border: 1px solid rgb(252, 212, 237);
}
#status, #start
{
    font-size: 22px;
}